<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../scripts/06-01.js"></script>
</head>
<body>

<script>

//    function calcNum(x){
//        if(x<=1) return 1;
//        else
//            return calcNum(x-1)+calcNum(x-2);
//    }
//
//    function factorial(n) {
//        if(n<=1)return 1;
//        else
//            factorial(n)*factorial(n-1);
//    }
//
//    console.log(factorial(10));

 console.log(calcNum(10));
</script>

</body>
</html>